body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f8;
  color: #2f374f;
  font-family: 'Roboto', sans-serif;
}
h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1.5em;

}

h1 {
  font-size: 3.5em;
  font-family: 'Glass Antiqua';
  text-align: center;
  letter-spacing: 0.09em;

}
.container{
  text-align: center;
}

